NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_SOCKET_URL=http://localhost:4000
NEXT_PUBLIC_GOOGLE_MAPS_KEY=AIzaSyA8nRLUsBb1J0qNB1XtPKmUm5Sl6txKKko
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=your_paystack_public_key
NEXT_PUBLIC_APP_NAME=GetGas


